---
  const platform = "github";
  const username = "zlrm2808";
  import Social from './Social.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>¡Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="twitter" username={username} />
  <Social platform="github" username={username} />
  <Social platform="youtube" username={username} />
</footer>